{
    "extends": [
        "standard"
    ],
    "ignorePatterns": "node_modules",
    "rules": {
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "comma-spacing": [
            "error",
            {
                "after": true,
                "before": false
            }
        ],
        "max-len": [
            "error",
            120
        ],
        "eqeqeq": "error",
        "indent": [
            "error",
            2,
            {
                "MemberExpression": 0
            }
        ],
        "new-cap": "error",
        "no-const-assign": "error",
        "no-duplicate-imports": "error",
        "no-else-return": "error",
        "no-lonely-if": "error",
        "no-return-await": "error",
        "no-shadow": "error",
        "no-undefined": "error",
        "no-use-before-define": "error",
        "object-curly-spacing": [
            "error",
            "never"
        ],
        "prefer-const": "error",
        "prefer-template": "error",
        "sort-vars": "warn"
    },
    "globals": {
        "it": true,
        "describe": true
    },
    "env": {
        "jquery": true
    }
}